<div *ngIf="afAuth.authState | async as user" class="cardContainer">
  <nb-card>
    <nb-card-body>
      <div *ngIf="afAuth.authState | async">
        <nb-tabset fullWidth (changeTab)="activeGames()">
          <nb-tab tabTitle="Active Games">
            <div class="activeGameCardContainer">
              <nb-card *ngIf="gamesCreated$ | async as gamesCreated">
                <nb-card-header>
                  Games Created
                </nb-card-header>
                <nb-list>
                  <nb-list-item *ngFor="let game of gamesCreated">
                    <div class="listItem">
                      <div *ngIf="innerWidth > 500">
                        <button
                          class="joinButton"
                          nbButton
                          size="small"
                          outline
                          [status]="
                            game.payload.val().xIsNext ? 'info' : 'warning'
                          "
                          [routerLink]="['/tictactoe/' + game.key]"
                        >
                          <nb-user
                            [picture]="game.user.photoURL"
                            [name]="game.user.displayName"
                            size="large"
                            title="
                              TicTacToe"
                          ></nb-user>
                        </button>
                      </div>
                      <div *ngIf="innerWidth <= 500">
                        <button
                          class="joinButton"
                          nbButton
                          size="small"
                          outline
                          [status]="
                            game.payload.val().xIsNext ? 'info' : 'warning'
                          "
                          [routerLink]="['/tictactoe/' + game.key]"
                        >
                          <nb-user
                            [picture]="game.user.photoURL"
                            [name]="game.user.displayName"
                            size="large"
                            title="
                          TicTacToe"
                          ></nb-user>
                        </button>
                      </div>
                      <div>
                        <button
                          class="deleteButton"
                          nbButton
                          outline
                          status="danger"
                          (click)="
                            deleteGameDialog(
                              game.key,
                              game.payload.val().player1
                            )
                          "
                        >
                          <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                      </div>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
              <nb-card *ngIf="gamesJoined$ | async as gamesJoined">
                <nb-card-header>
                  Games Invited To
                </nb-card-header>
                <nb-list>
                  <nb-list-item *ngFor="let game of gamesJoined">
                    <div class="listItem">
                      <div *ngIf="innerWidth > 500">
                        <button
                          class="joinButton"
                          nbButton
                          size="small"
                          outline
                          [status]="
                            game.payload.val().xIsNext ? 'warning' : 'info'
                          "
                          [routerLink]="['/tictactoe/' + game.key]"
                        >
                          <nb-user
                            [picture]="game.user.photoURL"
                            [name]="game.user.displayName"
                            size="large"
                            title="
                          TicTacToe"
                          ></nb-user>
                        </button>
                      </div>
                      <div *ngIf="innerWidth <= 500">
                        <button
                          class="joinButton"
                          nbButton
                          size="small"
                          outline
                          [status]="
                            game.payload.val().xIsNext ? 'warning' : 'info'
                          "
                          [routerLink]="['/tictactoe/' + game.key]"
                        >
                          <nb-user
                            [picture]="game.user.photoURL"
                            [name]="game.user.displayName"
                            size="large"
                            title="
                          TicTacToe"
                          ></nb-user>
                        </button>
                      </div>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Create New Game">
            <form [formGroup]="emailForm" (ngSubmit)="createGame()">
              <div class="createGameField">
                <div class="emailField">
                  <nb-form-field>
                    <nb-icon nbPrefix icon="google"></nb-icon>
                    <input
                      type="email"
                      nbInput
                      placeholder="Email Address"
                      formControlName="email"
                      [status]="
                        email.dirty
                          ? email.valid
                            ? 'success'
                            : 'danger'
                          : 'basic'
                      "
                    />
                  </nb-form-field>
                  <div *ngIf="email.valid">Player found! Create a game!</div>
                  <div
                    *ngIf="email.invalid && email.dirty && !email.errors.email"
                  >
                    Player does not exist. Ask them to sign up!
                  </div>
                  <div *ngIf="email.pending">
                    Checking to see if {{ email.value }} exists...
                  </div>
                </div>
                <div class="createGameButton">
                  <button
                    nbButton
                    type="submit"
                    [disabled]="emailForm.invalid || email.pending"
                    status="danger"
                  >
                    Create
                  </button>
                </div>
              </div>
            </form>
          </nb-tab>
        </nb-tabset>
      </div>
    </nb-card-body>
  </nb-card>
</div>
